QToolBar
{
    background-color: white;
    border: none;
}

QToolButton::hover
{
    background-color: rgb(237, 244, 253);
    border-radius: 6px;
    border-color: rgb(229, 229, 229);
}

QToolButton::pressed
{
    background-color: rgb(237, 244, 253);
    border-radius: 6px;
    border-color: rgb(229, 229, 229);
}
